/* --- LE TEMPLATE --- */
.commander {
    position: absolute; /*
    top: 5rem;  */
    left: 0px;
    height: 1232px;
        
    display: flex;
    flex-wrap: wrap;
    width: 100%;
 
    background-color: var(--commander-bg-title-color);

    @media (min-width: 320px) and (max-width: 768.99px) {
        height: 173rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* --- --- --- --- --- --- --- --- C O M M A N D E R --- --- --- --- --- --- --- --- */
/* --- Section Titre H1 'COMMANDER' --- */

.commander h1 {
    top: 69px;
    width: 100%;
    color: var(--body-bg-color);
}

/* --- --- --- TOUS LES EPARATEURS <hr> --- --- --- */
hr {
    position: absolute;
    color: var(--body-bg-color);
    height: 1px;
}

/* --- --- Séparateurs de section <hr> --- --- */
.wp-block-separator {
    left: 20.27%;       /* 292px;   */
    width: 59.72%;      /* 860px; */

    @media (min-width: 768px) and (max-width: 1024px) {
        left: 5%;
        width: 89%;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        left: 5%;
        width: 89%;
    }
}

/* --- Premier Séparateurs --- */
.wp-block-separator:nth-of-type(1) {
    top: 184px;

    @media (min-width: 768px) and (max-width: 1024px) {
        top: 150px;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        top: 130px;
    }
}

/* --- --- --- --- --- --- SECTION 'CARTES DES PRODUITS --- --- --- --- --- */
/* --- --- --- Le titre h2 'Votre Commande' --- --- --- */

.commander h2.wp-block-heading:nth-of-type(1) {
    position: absolute;
    top: 224px;
    left: 20.27%;           /* 292px;   */
    color: var(--body-bg-color);
    font-size: var(--h2-font-size);
    font-style: var(--parag-font-style);
    font-weight: 700;
    line-height: normal;

    @media (min-width: 768px) and (max-width: 1024px) {
        top: 200px;
        left: 5%;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        top: 180px;
        font-size: var(--mobile-h2-font-size);
    }
}


/* --- --- --- --- --- --- LES CARTES --- --- --- --- --- --- */
/* --- --- Le conteneur de la section 'Cartes' --- --- */

.wp-container-core-columns-layout-1 {
    position: absolute;
    top: 299px;
    left: 20.27%;       /* 292px;   */
    width: 59.72%;      /* 860px; */
    height: 199px;
    
    @media (min-width: 768px) and (max-width: 1024px) {
        left: 5%;
        width: 90%;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        top: 240px;
        left: 2%;
        width: 96%;
        height: 35%;
    }
}

.wp-container-core-columns-layout-1 .wp-block-column {
    width: 193.21px;
    height: 128.97px;
    @media (min-width: 320px) and (max-width: 768.99px) {
        height: 24%;
        display: var(--display-flex);
        flex-direction: var(--flex-vertical);
        justify-content: var(--justify-between);
    }
}


.wp-container-core-columns-layout-1 .wp-block-column .image-produit {
    position: relative;
    width: 100%;        /* 193.6px; */
    height: 100%;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: 768px) and (max-width: 1024px) {
        margin-top: 0;
        margin-bottom: 1rem;
    }
        
    @media (min-width: 320px) and (max-width: 768.99px) {
        margin: 0;
        height: 100%;
    }
}

/* --- Fond de la carte --- */
.wp-container-core-columns-layout-1 .wp-block-column .image-produit img {
    position: absolute;
    top: 0px;
    width: 100%;        /* 192.533px;   */
    height: 100%;
    margin: 0;

    @media (min-width: 320px) and (max-width: 768.99px) {
        width: 96%;
        height: 94%;
    }
}

/* --- L'intitulé de la carte --- */
/* - Le Layout - */
.wp-container-core-columns-layout-1 .wp-block-column .image-produit .div-nom {
    display: flex;
    width: 149.2px;
    height: 28.415px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

/* - Le texte, Typographie - */
.wp-container-core-columns-layout-1 .wp-block-column .image-produit .nom-produit {
    font-size: 20px;
    z-index: 5;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: var(--tablet-h2-font-size);
        font-weight: 700;
    }
}


/* --- --- --- --- --- --- CHOIX QUANTITE DE PRODUITS --- --- --- --- --- --- */
/* --- --- --- le zéro, le plus et moins, le OK : le cadre --- --- --- */
.le-caddey {
    position: absolute;
    bottom: 0px;
    width: 22.5%;
    height: 56px;

    display: var(--display-flex);
    justify-content: var(--justify-between);

    @media (min-width: 320px) and (max-width: 767.99px){
        position: relative;
        width: 96%;
        left: 2%;
    }
}

/* --- --- --- zéro, plus, moins : le cadre --- --- --- */
.choix-cadre {
    width: 82px; /* 40%; */
    height: 56px;
    display: var(--display-flex);

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 40%;
    }

    @media (min-width: 320px) and (max-width: 767.99px) {
        width: 45%;
    }
}

/* --- */
/* --- --- nombre zéro : le cadre--- --- */
.affichage-quantite-cadre {
    width: 51px;
    height: 56px;
    background-color: var(--body-bg-color);
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.04));

    display: var(--display-flex);
    justify-content: var(--justify-center);
    align-items: var(--align-center);

    border-radius: 5px 0 0 5px;

    @media (min-width: 320px) and (max-width: 767.99px) {
        width: 55%;
    }
}

/* --- nombre zéro : la typographie --- */
.affichage-quantite-typo {
    color: var(--text-color);
    font-family: Inter;
    font-size: var(--menu-n-card-font-size);
    font-style: var(--parag-font-style);
    font-weight: 400;
    line-height: normal;
}

/* --- */
/* --- --- Ajouter - Supprimer : la cadre --- --- */
.plus-moins-cadre {
    width: 31px;
    height: 56px;
    background-color: var(--menu-commander-color);
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.04));

    display: var(--display-flex);
    flex-direction: var(--flex-vertical);
    justify-content: var(--justify-around);
    align-items: var(--align-center);

    border-radius: 0 5px 5px 0;

    @media (min-width: 320px) and (max-width: 767.99px) {
        width: 45%;
    }
}

.plus-moins-cadre:hover {
    background-color: var(--menu-commander-hover-color);
}

/* --- Ajouter - Diminuer : typographie --- */
.plus-moins-typo {
    color: var(--body-bg-color);
    font-size: var(--parag-font-size);
    font-style: var(--parag-font-style);
    font-weight: 400;
    line-height: normal;
}

.plus-moins-separateur {
    width: 100%;
}

/* --- --- --- --- --- --- Le Carré OK --- --- --- --- --- --- */
/* --- Le carré OK --- */
.validation-cadre {
    width: 100px;
    height: 56px;
    padding: 9px 0px 10px;

    display: var(--display-flex);
    justify-content: var(--justify-center);
    align-items: var(--align-center);

    border-radius: 5px;
    background: var(--cta-button-color);

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 55%;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        width: 50%;
    }
}

.validation-cadre:hover {
    background-color: var(--menu-commander-hover-color);
}

/* --- Les lettres OK --- */
.validation-typo {
    color: var(--body-bg-color);
    font-size: var(--cta-font-size);
    font-style: var(--parag-font-style);
    font-weight: 400;
    line-height: var(--cta-line-height);
}

.wp-block-separator:nth-of-type(2) {
    top: 538px;
    @media (min-width: 320px) and (max-width: 768.99px) {
        top: 1305px;
    }
}

.plus-plus-typo:hover,
.plus-moins-typo:hover,
.le-caddey .validation-cadre:hover {
    cursor: pointer;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* --- --- --- --- --- --- --- --- I N F O R M A T I O N S - D E - L I V R A I S O N --- --- --- --- --- --- --- --- */

/* --- --- --- --- --- --- Le Conteneur du Formulaire --- --- --- --- --- --- */
#wpcf7-f462-p61-o1 {
    position: absolute;
    top: 591px;
    left: 292px;
    width: 860px;
    height: 548px;

    @media (min-width: 768px) and (max-width: 1024px) {
        left: 5%;
        width: 89%;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        top: 1365px;
        left: 4%;
        width: 92%;
        height: 1140px;
    }
}

/* --- --- --- --- --- --- La balise <form> --- --- --- --- --- --- */
#wpcf7-f462-p61-o1 .wpcf7-form {
    left: 0%;
    width: 100%;
    height: 100%;
}

/* --- --- --- --- --- --- L'identifiant du Formulaire --- --- --- --- --- --- */
#order-form {
    display: var(--display-flex);
    justify-content: var(--justify-between);
    height: 100%;

    @media (min-width: 320px) and (max-width: 768.99px) {
        position: absolute;
        left: 0%;
        width: 100%;
        flex-direction: var(--flex-vertical);
    }
}

/* --- --- --- --- --- --- Volets 'Vos informations' et 'Livraison' --- --- --- --- --- --- */
#order-form .left-side, #order-form .right-side {
    position: relative;
    top: 0px;
    display: block;
    width: 383px;

    @media (min-width: 768px) and (max-width: 1024px) {
        left: 0;
        width: 44.5%;
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        width: 100%;
        height: 100%;
    }
}

/* --- --- --- --- --- --- Le séparateurr --- --- --- --- --- --- */
.separateur {
    height: 449px;
    border-left: 1px solid var(--body-bg-color);

    @media (min-width: 768px) and (max-width: 1024px) {
        border-left: 3px solid var(--body-bg-color);
    }

    @media (min-width: 320px) and (max-width: 768.99px) {
        position: absolute;
        top: 495px;
        width: 100%;
        height: 1px;
        border-left: 0px solid var(--body-bg-color);
        border-bottom: 2px solid var(--body-bg-color);
    }
}

/* --- --- --- --- --- --- Les titres h2 des deux sections --- --- --- --- --- --- */
#order-form .left-side .wp-block-heading,
#order-form .right-side .wp-block-heading {
    position: relative;
    top: 0px;
    left: 0px;
}

/* --- --- --- --- --- --- Les labels - typographie --- --- --- --- --- --- */
#order-form p label,
#order-form p label span,
#order-form p label span input {
    position: relative;
    display: block;
    width: 100%;
    height: 71px;

    border-radius: 7px;

    color: var(--body-bg-color);
    font-size: var(--parag-font-size);
    font-style: var(--parag-font-style);
    font-weight: var(--parag-font-weight);
    line-height: normal;
}

/* --- --- --- --- --- --- Les labels - positionnement vertical --- --- --- --- --- --- */
#order-form p, #order-form p label {
    width: 100%;
    height: 108px;
    display: var(--display-flex);
    flex-wrap: wrap;
    align-content: space-between;
}

#order-form  p:nth-of-type(1) {
    position: absolute;
    top: 65px;
}

#order-form p:nth-of-type(2) {
    position: absolute;
    top: 203px;
}

#order-form p:nth-of-type(3) {
    position: absolute;
    top: 341px;
}

/* --- --- --- --- --- --- Le bouton submit --- --- --- --- --- --- */
#wpcf7-f462-p61-o1 .wpcf7-form p:nth-of-type(1) input[value="Commander"] {
    position: absolute;
    bottom: 0px;
    left: 38.5%;    /* left: 331px;    */

    @media (min-width: 320px) and (max-width: 768.99px) {
        left: 23%;
    }
}

