/* --- --- --- --- --- --- --- --- SECTION SUPERIEUR --- --- --- --- --- --- --- --- */

.wp-block-columns {                                 /* Bloc conteneur de la section superieure  */
  width: 100%;                                      /* 1307px; */
  height: 950px;
  @media (max-width: 1024px) {
    width: 64rem;
  }
  @media (max-width: 768px) {
    width: 48rem;
  }
}

.wp-block-column {                                  /* Bloc conteneur du bloc shortcode et images des rameaux */
  display: flex;
  justify-content: flex-end;
  padding-top: 5.188rem;                            /* 83px */
  padding-left: 4.156rem;                           /* 66.5px;  */
  padding-right:4.156rem;                           /* 66.5px;  */

  @media (max-width: 1024px) {
    width: 64rem;
    padding-top: 4rem;                              /* 64px */
    padding-left: 3rem;                             /* 48px */
    padding-right: 3rem;                            /* 48px */
    display: flex;
    justify-content: var(--justify-center);
  }

  @media (max-width: 768px) {
    width: 48rem;
    padding-top: 3rem;
  }

}

/* --- Bloc short code : Titre et image de la canette */

.titre-et-image {                                   /* Bloc du shortcode et des 2 images des rameaux */
  width: 81.688rem;                                 /* 1344px; */
  height: 59.375rem;                                /* 950px; */
  position: absolute;
  z-index: 5;

  @media (max-width: 1024px) {                /* 1307px; */
    width: 84rem;                       /* 1307px; */
  }

  @media (max-width: 768px) {}

}

.titre-et-image .titre {
  font-size: var(--h1-font-size);
  color: var(--commander-bg-title-color);
  text-align: center;
  font-style: var(--parag-font-style);
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    font-weight: 775;
  }

 }

/* --- Les 2 blocs des images des 2 rameaux */

.wp-block-image {
  display: inline-block;
  width: 49%;
  position: relative;
  top: 0px;
  height: 100%
}

.wp-image-169,
.wp-image-168 {
  position: relative;
  top: 19.188rem;                                   /* 307px; */
}

.wp-image-169 {
  position: absolute;
  right: 0px;
}

/* --- --- --- --- --- --- --- --- --- SECTION TEXTE --- --- --- --- --- --- --- --- */

.wp-block-column .wp-block-heading {
  display: block;
}

.wp-block-column p  {
   display: block;
   clear: both;
}

/*
* Must use the position property absolute, relative, fixed or sticky to use z-index and and also we can use 'top, right, bottom, left
* Use z-index property
* ? use the pseudoclass :before / :after
*/