@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    width: 90rem;                                   /* 1440 px */
    margin: 0 auto;
    padding: 0;
    font-family: "Syne", sans-serif;

    --h1-font-size: 2.375rem;                       /* 38 px */
    --h2-font-size: 1.875rem;                       /* 30 px */
    --cta-font-size: 0.938rem;                      /* 15 px */
    --menu-n-card-font-size: 1rem;                  /* 16 px */
    --parag-font-size: 1.25rem;                     /* 20 px */

    --parag-font-style: normal;
    --parag-font-weight: 400;
    --cta-line-height: 2.313rem;                    /* 37 px */
    --parag-text-align: center;

    --body-bg-color: #FFFFFF;
    --container-bg-color: #ECE2DA;
    --menu-commander-color: #DC9F96;
    --menu-commander-hover-color: #C02E44;
    --cta-button-color: #E0B9B4;
    --orange-h1-h2-color: #D2776A;
    --commander-bg-title-color: #3B8E46;
    --text-color: #000000;

    --full-width: 90rem;                            /* 1440px; width */

    --display-flex: flex;                           /* display */
    --flex-vertical: column;                        /* flex-direction */
    --justify-center: center;                       /* justify-content */
    --justify-between: space-between;               /* justify-content */
    --justify-around: space-around;                 /* justify-content */
    --align-center: center;                         /* align-items */
    --align-start: flex-start;                      /* align-items */
}

#wrapper {
    width: 100%;
    height: 181.875rem;                             /* 2910 px  */

    @media (max-width: 1024px) {
        width: 64rem;
    }

    @media (max-width: 768px) {
        width: 48rem;
    }
}

/* --- --- --- --- --- --- --- --- --- H E A D E R --- --- --- --- --- --- --- --- --- */
#header {
    top: 0px;
    width: 100%;
    height: 5rem;                                   /* 80px; */

    display: var(--display-flex);
    justify-content: var(--justify-between);
    background-color: var(--body-bg-color);

    @media (max-width: 1024px) {
        width: 64rem;                               /* 100%; */
        height: 3.75rem;                            /* 60px; */
    }

    @media (max-width: 768px) {
        width: 48rem;                               /* 768px; */
        height: 3.125rem;                            /* 50px; */
    }
}

/* --- --- --- --- --- L O G O --- --- --- --- --- */
#branding {                             /* native */
    width: 19.09%;                                  /* 17.188rem; /* 37 + 201 +37 = 275px; */
    height: 100%;                                   /* 5rem; /* 19px; */
    display: var(--display-flex);
    justify-content: var(--justify-around);
    align-items: var(--align-center);

    @media (max-width: 1024px) {
        width: 17.188rem;                           /* 201px; 19.09%; /* 37 + 201 +37 = 275px; */
    }

    @media (max-width: 768px) {
        width: 50%;
    }
}

#logo {
    width: 12.563rem;                               /*  201px; */
    height: 1.188rem;                               /* 19px; */
}

/* --- --- --- --- --- M E N U --- --- --- --- --- */
#menu {                                             /* nav tag */
    width: 32.25rem;                                /* 516 px : (nous rencontrer:114 + 60 + Admin:46 + 60 + Commander:236) - 35,83% *//*
    display: var(--display-flex);
    justify-content: flex-end;          */
    @media (max-width: 1024px) {
        width: 28rem;                               /* 366.89px; */
    }

    @media (max-width: 768px) {
        width: 50%;
        cursor: pointer;            /*
        justify-content: var(--justify-center);     */
    }
}

#menu-icon {
    display: var(--display-flex);
    justify-content: var(--justify-around);     /*
    height: 100%;       */
}

#hamburger {
    display: none;                                  /* hide menu on desktop screens */

    @media (max-width: 768px) {
        width: 3.125rem;                            /* 50px; */
        height: 2.90rem;
        margin-top: 0.125rem;

        display: var(--display-flex);   
        flex-direction: var(--flex-vertical);
        justify-content: var(--justify-around);
        align-items: var(--align-center);
    }
}

.hamburger-bar {
    background-color: var(--menu-commander-color);
    border: solid 1px var(--menu-commander-color);
    border-radius: 2px;;
    width: 90%;                                                 /* 50px; */
    height: 13.8%;                                              /* 50px; */
}

.menu-header_menu-container,
.menu-visiteur-container {                                      /* menu div container */
    width: 100%;

    @media (max-width: 1024px) {
        height: 3.75rem;                                          /* hide menu on mobile screens */
    }

    @media (max-width: 768px) {
        display: none;                                          /* hide menu on mobile screens */
    }
}

.menu-visiteur-container {                                      /* menu div container */
    position: relative;
    margin-right: 0px;

    @media (max-width: 768px) {
        display: none;                                          /* hide menu on mobile screens */
    }
}

#menu:hover .menu-header_menu-container,
#menu:hover .menu-visiteur-container {                          /* menu div container */
    @media (max-width: 768px) {
        position: relative;
        z-index: 10;
        display: var(--display-flex);
        flex-direction: var(--flex-vertical); */
    }
}

#menu-header_menu,
#menu-visiteur {                                                /* nav menu ul */
    display: var(--display-flex);
    justify-content: var(--justify-between);
    align-items: var(--align-center);

    width: 100%;

    @media (max-width: 1024px) {
        height: 3.75rem;
    }

    @media (max-width: 768px) {
        display: var(--display-flex);
        flex-direction: var(--flex-vertical);                   /* vertical display for list */
        background-color: var(--body-bg-color);
        height: 7.75rem;
    }
}

.menu-item {
    display: var(--display-flex);
    justify-content: var(--justify-between);
    align-items: var(--align-center);

    height: 3.125rem;                                           /* 50px; */

    @media (max-width: 768px) {
        width: 100%;
    }
}

#menu-header_menu .menu-item,
#menu-visiteur .menu-item {
    @media (max-width: 768px) {
        border-top: solid 1px var(--menu-commander-color);
    }
}

#menu-visiteur .menu-item-213 {
    @media (max-width: 768px) {
        border-top: solid 0px white;                        /* rendre invisible le trait de séparation de 50%width */
    }
}

.menu-item a {
    font-size: 1rem;
    color: black;
    text-decoration: none;

    display: var(--display-flex);
    justify-content: var(--justify-around);

    @media (max-width: 768px) {
        width: 100%;
    }
}

.menu-item-213,
.menu-item-215 {
    width: 50%;
    display: var(--display-flex);
    justify-content: center;

}

.menu-item-155,
.menu-item-215 {
    width: 45.73%;                                      /* 236px; */
    height: 5rem;
    background-color: var(--menu-commander-color);

    justify-content: var(--justify-around);

    @media (max-width: 1024px) {
        width: 45.73%%;
        height: 3.75rem;                    /* 60px; */
    }

    @media (max-width: 768px) {
        width: 100%;
        height: 3.125rem;                   /* 50px; */
    }
}

.menu-item-155 a,
.menu-item-215 a {
    width: 100%;                          /* 236px; */
}

.menu-item-155 span,
.menu-item-215 span {
    color: var(--body-bg-color);
}

.menu-item-155:hover, .menu-item-155:hover a span,
.menu-item-215:hover, .menu-item-212:hover a span {
    background-color: var(--menu-commander-hover-color);
}

/* --- --- --- --- --- --- C O N T A I N E R --- --- --- --- --- --- - */

#container {
    background-color: var(--container-bg-color);
}


/* --- --- --- --- --- --- --- F O O T E R --- --- --- --- --- --- --- */
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3.75rem;            /* 60px */
    @media (max-width: 768px) {
        width: 48rem;
    }
}

.menu-footer_menu-container {
    height: 100%;        /* 60px */
    display: var(--display-flex);
    justify-content: var(--justify-around);
    align-items: var(--align-center);
 }

/* ----------------------------------------------------------------------------------------
#slug {
    margin-left: 9px;                247px; 
    width: 72px;
    height: 14px;
}

.the-slug {
     font-family: Baskerville;
     font-size: 12px;
     font-weight: semi-bold;
     color: #326238;
 }      */

/* ********* ********* *********/ /*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

html { 
    scroll-behavior: smooth;
}

body {
    line-height: 1
}



a {
    text-decoration-skip-ink: auto
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none
}

button {
    outline: 0
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

q {
    display: inline;
    font-style: italic
}

q:before {
    content: '"';
    font-style: normal
}

q:after {
    content: '"';
    font-style: normal
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="search"],
input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0
}

input[type="search"] {
    -webkit-appearance: textfield
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th,
td {
    padding: 2px
}

big {
    font-size: 120%
}

small,
sup,
sub {
    font-size: 80%
}

sup {
    vertical-align: super
}

sub {
    vertical-align: sub
}

dd {
    margin-left: 20px
}

kbd,
tt {
    font-family: courier;
    font-size: 12px
}

ins {
    text-decoration: underline
}

del,
strike,
s {
    text-decoration: line-through
}

dt {
    font-weight: bold
}

address,
cite,
var {
    font-style: italic
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.bypostauthor {}

.wp-caption {}

.wp-caption-text {}

.gallery-caption {}

.alignright {}

.alignleft {}

.aligncenter {}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal
}

.screen-reader-text:focus {
    background-color: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #007acc;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.skip-link {
    left: -9999rem;
    top: 2.5rem;
    z-index: 999999999;
    text-decoration: underline
}

.skip-link:focus {
    display: block;
    left: 6px;
    top: 7px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: normal;
    padding: 15px 23px 14px;
    z-index: 100000;
    right: auto
}

.visually-hidden:not(:focus):not(:active),
.form-allowed-tags:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap
}